body, h1, h2, h3, h4, h5, h6{
    font-family: Roboto-Bold;
}
body {
	background-color: #eee;	
}
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
header {
	background-color: #fff;
}
/*.navbar-toggle {
	margin-top: 20px;
	border: 1px solid #bbb;
}
.icon-bar {
	background-color: #bbb;
}*/
#navigation {
	height: 80px;
	line-height: 70px;
	margin-bottom: 0;
}
.logo img {
	height: 40px;
}
.logo span {
	font-size: 20px;
	color: #4A4A4A;
	letter-spacing: 0.01px;
	margin-left: 10px;
	font-weight: 600;
	position: relative;
}
.logo span:after {
	content: 'Downloader';
	font-size: 13px;
	position: absolute;
	top: -4px;
	left: 16px;
	font-weight: 500;
	font-style: italic;
}
.logo:hover {
	text-decoration: none;
}
.about-h3 {
	font-family: ALKATIP;
	font-size: 28px;
	color: #4A4A4A;
	letter-spacing: 0.24px;
	margin: 70px 0 30px 0;
}
.about-content {
	font-family: PingFangSC-Light;
	font-size: 15px;
	color: #4A4A4A;
	letter-spacing: 0.31px;
	line-height: 30px;
}
.index-main {
	background: url(../img/bg.png);
	background-size: cover;
	min-height: 400px;
}
.main-title p{
	font-family: Roboto-Bold;
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: 0.5px;
	line-height: 41px;
	text-align: right;
}
.main {
	padding-top: 100px;
}
.get-btn,
.login-btn {
	border-radius: 90px;
	width: 140px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #fff;
	display: inline-block;
	float: right;
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 40px;
}
.get-btn {
	background-color: #fff;
	font-family: Roboto-Medium;
	font-size: 18px;
	color: #FB392E;
	letter-spacing: 0;
}
.login-btn {
	font-family: PingFangSC-Medium;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0.01px;
}
.index-img {
	width: 100%;
}
.item {
	margin-top: 50px;
}
.item {
	font-family: .PingFangSC-Regular;
	color: #4A4A4A;
	font-size: 16px;
	letter-spacing: 0.14px;
}
.notice {
	color: #777;
	margin-top: 20px;
	line-height: 20px;
}
/*nav*/
@media screen and (min-width: 768px) {
	.nav-li {
		margin-left: 8%;
		float: right;
		position: relative;
	}
	.nav-li a{
		font-family: PingFangSC-Regular;
		font-size: 15px;
		color: #E85549;
		letter-spacing: 0.01px;
	}
	.selected:after {
		content: '●';
		position: absolute;
		top: 16px;
		right: 18px;
		color: #E85549;
	}
}
@media screen and (max-width: 767px) {
	.menu {
		display: none;
	}
	.main {
		padding-top: 50px;
	}
	.logo {
		padding-left: 15px;
	}
}

@media screen and (min-width: 768px) {
	.index-img {
		position: absolute;
		width: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.index-main {
		min-height: 500px;
	}
}


